package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.Map;

/**
 /**
 * @Description:
 * @Author: ${author}
 * @Date: Create in ${datetime}
 */
public interface ${classname}Service {

    /**
     * 查询列表数据
     *
     * @param ${constantName} 查询条件
     * @param page            页码
     * @param size            每页的数量
     * @return 列表数据
     */
    PageInfo<${classname}VO> queryList(${classname} ${constantName}, Integer page, Integer size);

    /**
     * 单体查询
     *
     * @param ${pk.attrname} 实体主键
     * @return 单体数据
     */
    ${className}VO get${classname}Info(${pk.attrType} ${pk.attrname});

    /**
     * 单体添加
     *
     * @param insertDTO 添加实体
     * @return 插入状态标识
     */
    int insertSelective(${classname} insertDTO);

    /**
     * 单体更新
     *
     * @param updateDTO 更新实体
     * @return 更新状态标识
     */
    int updateByPrimaryKeySelective(${classname} updateDTO);

    /**
     * 单体删除
     *
     * @param ${classname} 删除实体
     * @return 删除状态标识
     */
    int deleteByPrimaryKey(${pk.attrType} ${pk.attrname});

}

